.header {
    position: absolute;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    color: black;
}

.break {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-bottom: 30px;
}

.dataimg {
    position: relative;
    font-size: 1rem;
    height: 35px;
    width: 35px;
    align-content: center;
    align-items: center;
    justify-content: start;
    align-self: center;
}

.section {
    position: absolute;
    margin-top: 30%;
    overflow-y: auto;
}

.dataparagraph {
    color: grey;
    text-align: center;
}

.dataparagraphs {
    color: white;
}

.card {
    width: 308px;
    height: 70px;
    top: 306px;
    box-shadow: 0px 4px 12.2px 0px #00000040;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 10%;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

/* If you want to center the content inside the card */
.card > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card > div > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    height: 100%;
}

h4 {
    color: #FFFFFF;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
